<div class="page-header">
<h1>Edit Picture</h1>
</div>


  <%= form_tag("http://localhost:3000/update_picture/#{@id}", :method => "patch") do  %>
  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @pic_caption%>
  </div>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @pic_source %>
  </div>
  <div>
    <%= submit_tag "Edit Picture" %>
  </div>

<% end %>