<div class="page-header">
	<h1>All Pictures</h1>
</div>

<h4> <%= link_to("Add a new picture", new_picture_url) %></h4>
<br></br>

<ul class="list-unstyled">
	
	<% @pic_list.each do |pic| %>

		<li>
			<div>
				<%= image_tag("#{pic.source}", :width => 100 ) %>
			</div>
		
			<h4 class="text-muted"><%= pic.id %>  - <%= pic.caption %></h4>

				<%= link_to "Show", picture_url(pic.id), :class => "btn btn-primary" %>
				<%= link_to "Edit", edit_picture_url(pic.id), :class => "btn btn-warning" %>
				<%= link_to "Destroy", picture_url(pic.id), :method => "delete", :class => "btn btn-danger" %>

			<br></br>
			<br></br>
		
		</li>
	
	<% end %>
<ul>

